p {
    text-align: left;
    margin: 6px 0 18px;
    color: var(--color-primary);
    font-size: 16px;
}

.wrapper-time {
    display: grid;
    grid-template-columns: repeat(auto-fill, 63px);
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
